:root{
    --primary-color: #2f7bff;
    --secondary-color: #FFAC54;
    --white-color: #f1f1f1;
    --black-color: #2c2b2b;

    --font-size: 18px;
}

*{
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    box-sizing: border-box;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--black-color);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*
article{
    background-color: var(--white-color);
    width: 50px;
    height: 30px;
}*/
button:active{
    opacity: 0.7;
}
.card {
    background-color: var(--white-color);
    width: 500px;
    height: 200px ;
    border-radius: 10px;
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "card-info"
    "card-info"
    "card-info"
    "card-info"
    "card-buttons";
}

.card-info{
    grid-area: card-info;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-info p, 
.card-info span{
    font-size: 2rem;
}

.card-buttons{
    grid-area: card-buttons;
    display: flex;
    justify-content: space-between;
}

.btn{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    color: var(--white-color);

}

.btn-primary{
    background-color: var(--primary-color);

}
.btn-secundary{
    background-color: var(--secondary-color);
}
.btn-reset{
    background-color: var(--black-color);
}