/*Tipos de selectores
El * es el global selecciona todo*/
:root{
    --primary-color-grey:rgb(136, 153, 166);
    --color-grey-50: rgb(110,120,134, 0.1);
    --color-icon-comentario: rgb(29, 161, 242);
    --color-icon-comentario-50: rgba(29, 161, 242, 0.4);

    --color-icon-retweet: rgb(24,176,95);
    --color-icon-retweet-50: rgba(24,176,95, 0.4);

    --color-icon-like:rgb(224,36,94);
    --color-icon-like-50: rgba(224,36,94, 0.4);

    --color-icon-compartir: rgb(30,148,221);
    --color-icon-compartir-50: rgba(30,148,221, 0.4);

}
*{
    background-color: #15202B;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: rgb(29, 161, 242);
    text-decoration: none;
}
body{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        
    }

img,svg {
    max-width: 100%;
    max-height: auto;
}


/*Por elemnto Ej: nombre de la etiqueta </h1>
*{
    padding: 0;
    margin: 0;
}*/
.textGray{
    color: var(--primary-color-grey)
} 

.container-twitt{
    border: solid;
    border-color: transparent transparent var(--primary-color-grey) transparent;
    border-width: 0.5px;
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: repeat(12, 1fr);
    width: 650px;
    height: 400px;
    padding: 10px;
}
.container-twitt:hover{
    cursor: pointer;
    background-color: var(--color-grey-50);
    border-radius: 10px;
    transition-duration: 0.5s;
}
.container-twitt *{
    background-color: transparent;
}
.twitt-body{
    grid-column: 1/13;
    grid-row: 1/12;
    display: grid;
    grid-template-columns: 8% 1fr ;
    grid-template-rows: 100%;
}


.twitt-body p{
    padding: 5px 0px;
}

.twitt-body img{
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary-color-grey);
    width: 95%;
}
.twitt-avatar > img{
    width: 85%;
    border-radius: 50%;
    border-color: transparent;
    margin-top: 8px;
}
.twitt-icons{
    grid-column: 1/13;
    grid-row: 11/13;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}
/*icono comentario hover*/
.twitt-icons .icon:nth-child(1):hover svg
{
    border-radius: 50%;
    background-color: var(--color-icon-comentario-50);
    fill: var(--color-icon-comentario);
    transition-duration: 0.5s;
}
.twitt-icons .icon:nth-child(1):hover span{
    color: var(--color-icon-comentario);
    transition-duration: 0.5s;
}
/*icono retweet hover*/
.twitt-icons .icon:nth-child(2):hover svg{
    border-radius: 50%;
    background-color: var(--color-icon-retweet-50);
    fill: var(--color-icon-retweet);
    transition-duration: 0.5s;
}
.twitt-icons .icon:nth-child(2):hover span{
    color: var(--color-icon-retweet);
    transition-duration: 0.5s;
}
/*icono like hover*/
.twitt-icons .icon:nth-child(3):hover svg{
    border-radius: 50%;
    background-color: var(--color-icon-like-50);
    fill: var(--color-icon-like);
    transition-duration: 0.5s;
}
.twitt-icons .icon:nth-child(3):hover span{
    color: var(--color-icon-like);
    transition-duration: 0.5s;
}
/*icono compartir hover*/
.twitt-icons .icon:nth-child(4):hover svg{
    border-radius: 50%;
    background-color: var(--color-icon-compartir-50);
    fill: var(--color-icon-compartir);
    transition-duration: 0.5ss;
}


.icon{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon svg {
    margin-right: 5px;
    width: 50%;
    padding: 5px;
    fill:var(--primary-color-grey)
}

.icon span{
    font-size: small;
    color: var(--primary-color-grey)
}